<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('projects')"></head>
    <body>
    <div th:replace="layout :: header">

    </div>
    <div th:replace="layout :: nav">

    </div>
        <section>
            <div class="container wrapper">
                <div th:each="project : ${projects}" class="project-list">
                    <div class="project">
                        <h2><a th:href="@{|/project/${project.Id}/edit|}" th:text="${project.name}">Website Project</a></h2>
                        <p>Design and build a custom website</p>
                        <span th:text="${project.status}" class="tag active">Active</span>
                    </div>
                    <!--<div class="project">-->
                        <!--<h2><a href="#">App Project</a></h2>-->
                        <!--<p>Design and build a web app</p>-->
                        <!--<span class="tag active">Active</span>-->
                    <!--</div>-->
                    <!--<div class="project">-->
                        <!--<h2><a href="#">Poster Design</a></h2>-->
                        <!--<p>Create a poster design</p>-->
                        <!--<span class="tag archived">Archived</span>-->
                    <!--</div>-->
                    <!--<div class="project">-->
                        <!--<h2><a href="#">Mobile App</a></h2>-->
                        <!--<p>Design and build a mobile app</p>-->
                        <!--<span class="tag active">Active</span>-->
                    <!--</div>-->
                </div>
            </div>
        </section>
    </body>
</html>